.blank {
	color: #f0f7f6;
	font-size: 7px;
}

.heightController {
	height: 90px;
}

.buttonFix {
	width: 50vh;
}

.label {
	width: 50vh;
	font-size: 2px;
}

.MuiFormLabel-root {
	font-size: 2px;
}

@media (orientation: landscape) and (max-width: 850px) {
  .label,.buttonFix {
  	width: 410px;
  }
}