.title {
	color: darkcyan;
	margin-top: 5px;
	margin-left: 5px;
	font-family: Helvetica;
	height: 60px;
	max-width: 10vh;
	font-size: 60px;
	margin-bottom: 25px;
}

.e {
	justify-content: center;
	display: flex;
	padding-left: 0;
	margin-left: 0;
}

.contacts {
	margin-left: 10px;
	margin-bottom: 5px;
	justify-content: center;
	width: 100%;
}

.webheroContact {
	display: flex;
	margin-top: 30px;
	text-decoration: none;
}

.webheroText {
	font-size: 3vh;
	font-family: Helvetica;
	color: lightgray;
	text-decoration: none;
	font-weight: 800;
	text-overflow: none;
}

.webhero {
	width: 20vh;
	height: 5vh;
	margin-left: 1.5vh;
	background-size: contain;
	background-repeat: no-repeat;
}

.social__item {
  display: flex;
  justify-content: center;
  border-radius: 35%;
  align-items: center;
  margin-right: 1.5vh;
  margin-top: 2vh;
  height: 15vh;
  transition: .3s;
}

.social__item:hover {
  background: rgb(222, 230, 250);
  transform: scale(1);
}

.social__item:nth-last-child(1) {
  margin-right: 0;
}

.social__img {
  margin: 0 auto;
  height: 11vh;
  max-width: 11vh;
}

.social__img_tg {
  transform: translateX(-7%);
}