.title {
	color: darkcyan;
	font-family: Helvetica;
	font-size: 4vh;
}

.subtitle {
	color: darkcyan;
	font-family: Helvetica;
	font-size: 2.5vh;
}

.link {
	text-decoration: none;
    color: darkcyan;
    font-family: Helvetica;
}

.repos {
	text-decoration: none;
	font-family: Helvetica;
	color: black;
	display: flex;
	justify-content: center;
	font-size: 2.5vh;
	margin-top: 2vh;
	font-weight: 900;
}

.repos:hover {
	color: darkcyan;
	transform: scale(1.1);
	transition-duration: 500ms;
	background: rgb(222, 230, 250, 0.5);
}